.lt_body{
    .mui-table-cell{
        img{
            width: 60px;
            height: 60px;
        }
        .desc{
            overflow: hidden;
            padding-left: 10px;
            .proname{
                color: #333;
            }
            .middle{
                line-height: 30px;
                .price{
                    color: red;
                }
                .oldprice{
                    font-size: 12px;
                    text-decoration: line-through;
                }
            }
        }
        input{
            position: absolute;
            bottom: 5px;
            left: 5px;
        }
    }
}

.lt_size{
    span{
        padding: 5px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        line-height: 30px;
        font-size: 12px;
        &.now{
            background-color: #069;
        }
    }
}
.order{
    position: absolute;
    bottom: 55px;
    width: 100%;
    height: 30px;
    background-color: #eee;
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
    span{
        color: red;
    }
    >div{
        padding: 0 10px;
    }
}